// colors
$primary: #B4965A;
$main : #F8F5ED;
$black: #000;
$white: #fff;
$green: #4BCA81;
$gray: #B6B6B6;
$gray2:#81848A;
$gray-dark: #484D56;
// fonts
$mainFont: 'Source Sans Pro', sans-serif;
$ibmPlex: 'IBM Plex Sans', sans-serif;
$lyonText: 'Lyon Text';



