.intro {
    background-color: $main;
    color: $black;
    padding: 76px 0;
    min-height: 100vh;
    &__inner {
        &-title {
            text-align: center;
            margin-bottom: 40px;
            .title3 {
                max-width: 870px;
                margin: 0 auto;
                &.xsm {
                    max-width: 360px;
                }
            }
        }
        &-row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            padding-top: 80px;
        }
   
        .title1 {
            margin-bottom: 30px;
        }
        .paragraph {
            &.ex {
                color: $primary;
                margin-top: 60px;
                max-width: 993px;
                margin: 24px auto 0;
                text-align: center;
            }
        }
    }

    &Item {
        padding: 25px 20px 20px;
        background-color: $white;
        width: calc(25% - 30px);
        margin: 15px;
        text-align: center;
        display: block;
        color: $black;
        cursor: pointer;
        transition: .3s ease;
        &:hover {
            opacity: 1;
            box-shadow: 0px 5px 7px 3px #00000021;
        }
        .paragraph {
            color: #7A797A;
            text-align: start;
            margin-bottom: 24px;
            font-size: 15px;
            line-height: 22px;
            font-family: $lyonText;
            height: 110px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .title2 {
            margin-bottom: 20px;
            color: #24251E;

        }
        .title3 {
            margin-bottom: 20px;
            min-height: 40px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
            &.sm {
                min-height: unset;
                margin: 0;
                padding-right: 50px;
                position: relative;
                display: inline-block;
                &::before {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 32px;
                    height: 1px;
                    background-color: $black;
                    transform: translateY(-50%);
                    content: "";
                }
            }
        }
    }
    &Donation {
        text-align: center;
        width: 100%;
        max-width: 465px;
        margin: 0 auto;
        background-color: $white;
        padding: 34px 10px 40px;
        border: 1px solid $black;
        &.big {
            padding-bottom: 15px;
        }
        & > .title3 {
            margin-bottom: 5px;
        }
        .title2 {
            color: $primary;
            font-weight: 400;
        }
        &__input {
            input {
                width: 100%;
                background-color: transparent;
                color: $primary;
                font-size: 40px;
                line-height: 45px;
                text-align: center;
                font-family: $lyonText;
                font-weight: 400;
                &::placeholder {
                    color: $primary;
                }
            }
        }
        &__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            cursor: pointer;
            max-width: 100px;
            margin: 20px auto 0;
            transition: .3s ease;
            color: $black;

            &:hover {
                opacity: 1;
                color: $primary;
                svg {
                    color: $primary;
                }
            }
            &-icon {
                width: 36px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 12px;
                svg {
                    width: 100%;
                    height: 100%;
                    color: $black;
                    transition: .3s ease;
                }
            }
            .title3 {
                margin: 0;
            }
        }
        &__account {
            text-align: center;
            padding-top: 35px;
            .title3 {
                color: $gray2;
                text-transform: uppercase;
            }
            input {
                font-size: 16px;
                line-height: 22px;
                color: $black;
                font-weight: 700;
                letter-spacing: 1.7px;
                font-family: $mainFont;
                text-align: center;
            }
        }
        &__qr {
            text-align: center;
            padding-top: 50px;
            width: 80%;
            max-width: 288px;
            margin: 0 auto;
            &-code {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                }
            }
            .title3 {
                color: $gray2;
                text-transform: uppercase;
                margin-bottom: 24px;
            }
        }
    }
    &Payment {
        padding: 30px 0 120px;
        text-align: center;
        &__row {
            width: 100%;
            max-width: 480px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        &__item {
            padding: 6px;
            width: 33.3%;
            max-width: 160px;
            text-align: center;
            border-right: 1px solid $primary;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $black;
            cursor: pointer;
            transition: .3s ease;
            &:hover {
                opacity: 1;
                color: $primary;
                svg {
                    color: $primary;
                }
            }
            &-icon {
                width: 34px;
                height: 34px;
                margin-bottom: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                &.sm {
                    width: 28px;
                }
                &.big {
                    width: 36px;
                }
                svg,img {
                    width: 100%;
                    height: 100%;
                    color: $black;
                    transition: .3s ease;
                }
            }
            &:last-child {
                border: unset;
            }
        }
        & > .title3 {
            margin-bottom: 24px;
        }
    }
    &Form {
        width: 100%;
        max-width: 470px;
        margin: 0 auto;
        &.big {
            padding-top: 60px;
            .button {
                max-width: unset;
            }
        }
        .input {
            margin-bottom: 5px;
            &.big {
                margin-bottom: 15px;
            }
            &__wrapper {
                padding: 30px 0;
            }
        }
        .check {
            margin-bottom: 20px;
            &:last-child {
                margin: 0;
            }
            &__wrapper {
                padding: 10px 0 30px;
            }
        }
        .textArea {
            margin-bottom: 30px;
        }
        .button {
            display: block;
            width: 100%;
            max-width: 245px;
            margin: 0 auto;
        }
        & > .title3 {
            margin-bottom: 38px;
            text-align: center;
        }
    }
}
// 1380px
@mixin intro-xxxlg-xxxxlg {
    .intro {

    }
}
// 1250px
@mixin intro-xlg-xxlg-extra {
    .intro {

    }
}
// 1180px
@mixin intro-xlg-xxlg {
    .intro {
        padding: 60px 0;
        &__inner {
            &-title {
                margin-bottom: 30px;
            }
            &-row {
                margin: 0 -10px;
                padding-top: 60px;
            }
            .title1 {
                margin-bottom: 20px;
            }
            .paragraph {
                &.ex {
                    margin-top: 10px;
                }
            }
        }
        &Item {
            margin: 10px;
            width: calc(25% - 20px);
            padding: 18px 15px 15px;
        }
    }
}
// 1024px
@mixin intro-lg-xlg {
    .intro {
        &__inner {
            &-row {
                padding-top: 40px;
                margin: 0 -15px;
            }
        }
        &Item {
            width: calc(33.3% - 30px);
            padding: 25px 20px 20px;
            margin: 15px;
        }
    }
}
// 930px
@mixin intro-md-lg {
    .intro {
        &__inner {
            &-row {
                padding-top: 35px;
                margin: 0 -10px;
            }
        }
        &Item {
            width: calc(33.3% - 20px);
            padding: 20px;
            margin: 10px;
            .title2 {
                margin-bottom: 15px;
            }
            .title3 {
                margin-bottom: 15px;
            }
            .paragraph {
                margin-bottom: 12px;
            }
        }
    }
}
// 840px
@mixin intro-md-lg-extra {
    .intro {
        &__inner {
            &-row {
                padding-top: 30px;
                margin: 0 -18px;
            }
        }
        &Item {
            width: calc(50% - 36px);
            padding: 30px 35px;
            margin: 18px;
        }
    }
}
// 750px
@mixin intro-sm-md {
    .intro {
        &__inner {
            &-row {
                padding-top: 30px;
                margin: 0 -12px;
            }
        }
        &Payment {
            padding: 30px 0 80px;
        }
        &Item {
            width: calc(50% - 24px);
            padding: 30px 25px;
            margin: 12px;
        }
    }
}
// 650px
@mixin intro-sm-md-extra {
    .intro {
        &__inner {
            &-row {
                padding-top: 30px;
                margin: 0 -12px;
            }
        }
        &Item {
            width: calc(50% - 16px);
            padding: 25px 20px 20px;
            margin: 8px;
        }
    }
}
// 540px
@mixin intro-xsm-sm {
    .intro {
        padding: 40px 0;
        &__inner {
            &-title {
                margin-bottom: 20px;
                .title3 {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            &-row {
                padding-top: 30px;
                margin: 0;
            }
            .title1 {
                margin-bottom: 15px;
            }
        }
        &Donation {
            padding: 24px 10px;
            &.big {
                padding-bottom: 0;
            }
            &__input {
                input {
                    font-size: 35px;
                    line-height: 40px;
                }
            }
            &__card {
                margin-top: 10px;
                &-icon {
                    margin-bottom: 8px;
                }
            }
            &__account {
                padding-top: 20px;
                &:last-child {
                    padding-top: 15px;
                }
                input {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            &__qr {
                padding-top: 24px;
                width: 80%;
                .title3 {
                    margin-bottom: 10px;
                }
            }
            & > .title3 {
                margin-bottom: 10px;
            }
            .title3 {
                font-size: 14px;
                line-height: 20px;
            }
        }
        &Form {
            &.big {
                padding-top: 30px;
            }
            & > .title3 {
                margin-bottom: 24px;
            }
            .input{
                &.big {
                    margin-bottom: 10px;
                    input {
                        padding: 4px 0;

                    }
                }
                &__wrapper {
                    padding: 16px 0;
                }
            }
            .check {
                margin-bottom: 12px;
                &__wrapper {
                    padding: 0 0 20px;
                }
            }
            .textArea {
                margin-bottom: 20px;
                &.big {
                    margin-bottom: 10px;
                    textarea {
                        padding: 5px 0 0;
                    }
                }
            }
        }
        &Payment {
            padding: 30px 0 40px;
            & > .title3 {
                margin-bottom: 16px;
            }
            &__item {
                padding: 4px;
                &-icon {
                    width: 30px;
                    height: 30px;
                    margin-bottom: 10px;
                    &.sm {
                        width: 25px;
                    }
                    &.big {
                        width: 34px;
                    }
                }
                .title3 {
                    font-size: 14px;
                }
            }
        }
        &Item {
            width: 100%;
            padding: 35px 30px;
            margin: 0 0 20px 0;
            .title3 {
                min-height: unset;
            }
            .paragraph {
                height: unset;
                display: block;
                margin-bottom: 16px;
                min-height: 88px;
            }
        }
    }
}
// 440px
@mixin intro-xxsm-xsm {
    .intro {

    }
}